@import '~antd/dist/antd.css';

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#body{
  background: #fff;
  /* height: 90vh;
  overflow: scroll; */
}

#content{
  max-width: 1000px;
  margin:0 auto;
  padding: 24px;
  height: 100%;
}

#header{
  /* height: 10vh; */
}

#main{
  /* height: 10vh; */
}

#footer{
  text-align: right;
}

#user-bar{
  vertical-align: middle;
  background-color:transparent;
  height: 100%;
  margin:0 0 0 auto;
}

button{
  font-size: smaller !important;
  font-weight: 500 !important;
}
#user-bar #name{
  margin:0 10px;
}

#user-bar .icon{
  border: none;
  height: 100%;
  padding: 0;
}

#user-bar .ant-space{
  margin:0 0 0 auto
}

#user-bar .ant-typography{
  color: white;
}

#user{
  height: 100%;
}

#group{

}

#user .ant-skeleton {
  display: flex;
  align-items: center;
}
